/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    font-size: 17px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #e9cecb;
    color: black;
}

main {
    max-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #3a458c;
}

header {
    justify-content: space-between;
    display: flex;

    border: 1px solid black
}

#hleft, #hright {
    margin-left: 3%;
    margin-right: 3%;
}

#hleft a img {
    width: auto;
    height: 170px;
}

#hright {
    padding-top: 30px;
    font-style: italic;
    color: gray;
}

#mainmenu {
    text-align: center;
}

#mainmenu ul li a {
    padding: 5%;

    background-color: #3a458c;

    border-radius: 4px;
    margin-top: 3%;
    color: white !important;
}

footer {
    text-align: center;
}

#mainmenu ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

#mainmenu ul li {
    flex: 33%;

    margin-left: 1%;
    margin-right: 1%;

    width: 20%;
}

#mainmenu ul li a:hover {
    background-color: #535a81;
}


@media only screen and (min-width: 768px) {


    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }

    .bodycontainer {
        display: flex;
    }

    .bodycontainer #mainmenu {
        width: 15%;
        margin-left: 2%;
    }

    .bodycontainer main {
        width: 65%;
        margin-left: 3%;
        margin-right: 5%;
    }

    #mainmenu ul {
        display: block;
    }

    #mainmenu ul li {
        width: 100%;
        margin-bottom: 10%;

    }

    #mainmenu ul li a {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}