@using Microsoft.AspNetCore.Components.Web
@namespace DT191G_Moment_1._3.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <header>
        <div id="hleft">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="/assets/logo.png" alt="Picture of me">
            </a>
        </div>

        <div id="hright">
            <span>Dagens datum är: @DateTime.Now.ToShortDateString()</span>
        </div>
    </header>


    <div class="bodycontainer">

        <nav id="mainmenu">
            <ul>
                <li>
                    <a class="nav-link text-dark" href="">Home</a>
                </li>
                <li>
                    <a class="nav-link text-dark" href="/Konvertering">Konvertering</a>
                </li>
                <li>
                    <a class="nav-link text-dark" href="/JSON">JSON</a>
                </li>
            </ul>
        </nav>


        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span>Av Linus Hvenfelt - Kontakta mig: <a href="mailto:linushvenfelt@gmail.com">linushvenfelt@@gmail.com</a></span>
        </div>
    </footer>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
